*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*achicamos el logo*/

.logo{
    width: 40%;
    height: 10rem;
    
}

/*esto hace que el logo y el menu tengan ese padding*/
header{
    padding: 0.2rem;
}

/*ruta de especifidad para darle una altura y ancho al nav*/
header nav{
    height: 2.5rem;
    width: 50%;
}


main{
    padding: 1.3rem;
    margin-top: 2rem;
}

.falso-main-index{
    text-align: center;
}


/*maneja todos los h1 del codigo*/
h1{
    font-family: serif;
    text-align: center;
    font-weight: bolder;
}

.titulo-index{
    font-size: xx-large;
}

.bienvenido{
    margin-top: 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    
}

.seccion-quienes-somos{
    margin-top: 4rem;

}

.quienes-somos{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

.servicios{
    border-top: 1px solid black;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 1rem;
}

.seccion-servicios{
    margin-top: 4rem;
}
.negrita{
    font-weight: bold;
    margin-top: 1rem;
}

body.dark-mode {
    background-color: #343a40; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto claro */
}

.boton{
    margin-top: 5rem;
}

header nav div{
    display: flex;
    flex-direction: row;
}

